/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --background: #0d0d0d;
    --text: #ffffff;
    --accent: #1e90ff;
    --button-hover: #2b2b2b;

    /* Font */
    --main-font: "Poppins";
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    color: var(--text);
    position: relative;
    background-color: var(--background);
}

h1 {
    font-size: 2rem;
}

main {
    flex: 1 0 100%;
    background-color: var(--background);
}

.header__container,
.main__content-container {
    width: 80%;
    margin: 0 auto;
}

/* Header */

header {
    background-color: var(--background);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__title {
    color: var(--accent);
    font-size: 20px;
    font-weight: 600;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.header__nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header__nav-link {
    font-size: 10px;
    text-decoration: none;
    color: var(--text);
}

.header__nav-link.active,
.header__nav-link:hover,
.header__nav-link:focus {
    color: var(--accent);
    outline: none;
}

.header__nav label input {
    display: none;
    visibility: hidden;
    appearance: none;
}

/* Burger Menu */

.menu-toggle {
    display: none;
    position: relative;
    padding: 22px;
    transform: all 1s;
}

.menu-toggle .line {
    position: absolute;
    display: block;
    width: 30px;
    height: 3.5px;
    background-color: white;
    border-radius: 50px;
    transition: all 400ms;
}

.top {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked + .menu-toggle .top {
    top: 45%;
    left: 8%;
    width: 34px;
    transform: rotate(45deg);
}

input:checked + .menu-toggle .mid {
    opacity: 0;
}

input:checked + .menu-toggle .bottom {
    top: 45%;
    left: 8%;
    width: 34px;
    transform: rotate(-45deg);
}

/* Section Styles */

.about-me__section,
.projects__section,
.contact__section {
    height: auto;
    padding: 60px 0 60px 0;
}

.about-me__title,
.about-me__skills-title,
.projects__title,
.contact__title {
    color: var(--text);
    padding: 50px 0 50px 0;
}

.hero__content-text,
.about-me__text,
.projects__text,
.contact__text {
    color: var(--accent);
}

section {
    opacity: 0; 
    transform: translateY(60px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section.active {
    opacity: 1; 
    transform: translateY(0); 
}

/* Home Section */

.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: var(--background);
}

.hero__content-title {
    color: var(--text);
}

.hero__content-intro {
    text-align: justify;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 10px;
}

.hero__button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background-color: var(--accent);
    color: white;
    border-radius: 6px;
    font-family: var(--main-font);
    cursor: pointer;
}

#techCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero__button:hover {
    background-color: var(--button-hover);
}

.hero__content-container {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 100%;
}

.hero__text-container {
    position: relative;
}

.hero-text__sliding-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--background);
    animation: horizontalSlideEffect 2s ease-out;
}

.hero__image {
    position: relative;
}

.hero__image img {
    visibility: visible;
}

.hero-image__sliding-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    animation: verticalSlideEffect 2s ease-in;
}

/* About Me Section */

.about-me__description {
    font-size: 10px;
    line-height: 1.5;
    text-align: justify;
}

.about-me__skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.about-me__skills-title {
    text-align: center;
}

.about-me__item {
    width: 100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px var(--accent);
    text-align: center;
    transition: 300ms;
}

.about-me__item:hover {
    transform: translateY(-8px);
}

.about-me__item img {
    max-width: 100%;
    height: auto;
}

.about-me__item p {
    font-size: 10px;
}

/* Projects Section */

.project__image-container {
    display: flex;
    position: relative;
    cursor: pointer;
}

.project__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--button-hover);
    opacity: 0.8;
    overflow: hidden;
    transition: 800ms;
}

.project__slider > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project__slider > span > p {
    font-family: var(--main-font);
    font-size: 10px;
    text-wrap: nowrap;
}

.project__image-container:hover > .project__slider {
    width: 100%;
}

.projects__container {
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 10px;
}

.project__item img {
    max-width: 100%;
    height: auto;
}

.project__text-container {
    padding: 4px;
}

.project__description {
    font-size: 8px;
    font-weight: 200;
    text-align: justify;
}

/* Contact Section */

.contact__form-container {
    width: 60%;
    margin: 0 auto;
}

.contact__form-group {
    display: flex;
    gap: 10px;
}

.contact__form-group > input {
    width: 50%;
    color: var(--text);
}

.contact__form > textarea {
    margin-top: 10px;
    width: 100%;
    resize: none;
}

.contact__name,
.contact__email,
.contact__message {
    outline: none;
    padding: 10px;
    background-color: transparent;
    border: 2.5px solid var(--accent);
    border-radius: 7px;
    color: var(--text);
    caret-color: var(--text);
    font-family: var(--main-font);
    font-size: 10px;
}

.contact__name:focus,
.contact__email:focus,
.contact__message:focus {
    border: 2.5px solid skyblue;
}

.contact__button {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 4px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--accent);
    color: white;
    font-family: var(--main-font);
    cursor: pointer;
}

/* Footer */

footer {
    margin-top: auto;
    padding: 30px;
    background-color: var(--background);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

@keyframes horizontalSlideEffect {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes verticalSlideEffect {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 800px) {
    .hero__content-container,
    .contact__form-group {
        flex-direction: column;
    }

    .hero__content {
        margin-top: 120px;
        height: max-content; 
    }

    .hero__content-container,
    .contact__form-group > input {
        width: 100%;
    }

    .contact__form-container {
        width: 80%;
    }

    .projects__container {
        grid: auto / repeat(2, 1fr);
    }

    .hero__button {
        display: block;
        margin: 5px auto;
    }
}

@media screen and (max-width: 600px) {
    .header__container,
    .main__content-container {
        width: 90%;
        margin: 0 auto;
    }

    .menu-toggle {
        display: block;
    }

    .header__nav-links {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        background-color: var(--background);
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        visibility: hidden;
        transition: 500ms ease-out;
    }

    .header__nav-link {
        font-size: 15px;
        text-wrap: nowrap;
        font-weight: 300;
    }

    input:checked ~ .header__nav-links {
        width: 75%;
        visibility: visible;
    }
}

@media screen and (max-width: 500px) {
    .projects__container {
        grid: auto / repeat(1, 1fr);
        gap: 20px;
    }

    .contact__form-container {
        width: 90%;
    }
}
